 /* Additional custom styles */
 body {
    font-family: 'Arial', sans-serif;
    position: relative; /* Ensure that the container is positioned relative to the body */
    min-height: 100vh; /* To ensure the body stretches to at least the full viewport height */
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden
}

header {
    background-color: #b7cbf3;
    transition: background-color 0.3s;
  
}

header:hover {
    background-color: grey; /* Darker background on hover */
}

nav a {
    color: #000409;
    transition: color 0.3s;
    box-shadow: none; /* Remove default shadow */
}

nav a:hover {
    color: #140101;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); /* Add thicker shadow on hover */
    transition: color 10s;
}

.login-button,
.maribot-button {
    border: 1px solid #01070f;
    color: #01050a;
}

.login-button:hover,
.maribot-button:hover {
    background-color: #e2e8f0;
}

/* Additional styles for MARIBOT button */
.maribot-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
header.second-header {
    background-color: #09264b;
    padding: 10px;
    height: 50px;
}

.oval-button {
    border: 3px solid #01050a;
    border-radius: 999px; /* Use a very large value for a circle-like shape */
    background-color: #fff;
    color: #01050a;
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 250px;
}

.oval-button:hover {
    background-color: #1fe536;
    color: #fff;
} 
.mySlides.transition-left {
    animation: slideLeft 2s forwards;
}

.mySlides1.transition-right {
    animation: slideRight 2s forwards;
}

@keyframes slideLeft {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}

@keyframes slideRight {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0; }
}     
.slider-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    overflow: hidden; /* Hide any overflowing content within the slider-container */
} 
.slider-container > .slide-left-element {
    animation-name: slideLeft;
}

.slider-container > .slide-right-element {
    animation-name: slideRight;
}

.dashboard {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: none;
   
}


/* Positioning for dashboard 1 */
.dashboard-1 {
    border-radius: 50px;
    width: 250px;
    height: 200px;
    top: 80px;
    left: 80px;
    margin-top: 115px;
    background-color: #ced0d4;
}
.dashboard-1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/* Positioning for dashboard 2 */
.dashboard-2 {
    border-radius: 50px;
    width: 250px;
    height: 200px;
    top: 250px;
    left: 250px;
    margin-top: 155px ;
    margin-left: -170px;
    background-color: #ced0d4;
}
.dashboard-2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/* Positioning for dashboard 3 */
.dashboard-3 {
    border-radius: 50px;
    width: 250px;
    height: 200px;
    top: 400px;
    left: 400px;
    margin-top: -205px ;
    margin-left: 2px;
    background-color: #ced0d4;
}
.dashboard-3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/* Positioning for dashboard 4 */
.dashboard-4 {
    border-radius: 50px;
    width: 250px;
    height: 200px;
    top: 550px;
    left: 550px;
    margin-top: -145px ;
    margin-left: -147px;
    background-color: #ced0d4;
}
.dashboard-4:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/* Positioning for dashboard 5 */
.dashboard-5 {
    border-radius: 50px;
    width: 250px;
    height: 200px;
    top: 550px;
    left: 550px;
    margin-top: -145px ;
    margin-left: 350px;
    background-color: #ced0d4;
}
.dashboard-5:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.dashboard-6 {
    border-radius: 50px;
    width: 250px;
    height: 200px;
    top: 550px;
    left: 550px;
    margin-top: -353px ;
    margin-left: 350px;
    background-color: #ced0d4;
}
.dashboard-6:hover{
    transform: scale(1.1);
    transition: 0.5s;
}