.dashboard-1 {
    background-image: url("./images/background-g309e68fb6_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dashboard-2 {
    background-image: url("./images/background-g31ccb68ee_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dashboard-3 {
    background-image: url("./images/texture-gfcccc2b99_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dashboard-4 {
    background-image: url("./images/background-g309e68fb6_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dashboard-6 {
    background-image: url("./images/background-g31ccb68ee_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .dashboard-5 {
    background-image: url("./images/texture-gfcccc2b99_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }